@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #bdc3c7;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100vh;
  display: grid;
  place-items: center;
}

h2 {
  margin-bottom: 1em;
}

.wrapper {
  background-color: #10ac84;
  padding: 2em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: var(--white);
  max-width: 750px;
}

.image {
  width: 100px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* justify-items: center; */
}

.image img {
  /* text-align: center; */
}

.wrapper input {
  padding: 0.5em;
  margin: 0.5em 0;
  width: 100%;

  border-radius: 5px;
  border: none;
}

.loginButton {
  margin-top: 0.8em;
}

button {
  background-color: #0652dd;
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 1em;
  width: 100%;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
